@charset "UTF-8";


/*레이아웃 */
body {
	width: 100%;
	overflow-x: hidden;
}

/* header */
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 110px;
	background: transparent;
	z-index: 100;
}

#header:hover {
	background: #fff;
}

.none {
	display: none;
}

.top_btn {
	position: relative;
	float: right;
	top: 5px;
	right: 50px;
}

.top_btn ul li {
	float: left;
	padding: 5px 10px;
}

.top_btn ul li a {
	display: block;
	font-size: 14px;
	color: #ddd;
}

#header:hover .top_btn ul li a {
    color: #898989;
}

.top_btn ul li a:hover {
	color: #217fc4;
}

.logo {
	position: absolute;
	top: 30px;
	left: 35px;
	transition: all 0.5s;
}

.logo a {
	display: block;
    width: 145px;
    height: 55px;
    background-image: url(../img/logo_w.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#header:hover .logo a {
    background-image: url(../img/logo.png);
}

.search_btn {
	position: absolute;
	top: 45px;
	right: 100px;
	background-image: url(../img/search_w.png);
	background-repeat: no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#header:hover .search_btn {
    background-image: url(../img/search.png);
}

.toggle_btn {
	position: absolute;
	top: 45px;
	right: 50px;
	background-image: url(../img/menu_w.png);
	background-repeat: no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#header:hover .toggle_btn {
    background-image: url(../img/menu.png);
}

#toggle1:checked ~ #gnbMo {
	right: 0;
}

#toggle2:checked ~ #gnbMo {
	right: -110%;
}

#gnb {
	position: absolute;
	left: calc(50% - 420px);
	top: 40px;
	z-index: 99;
}

#gnb > ul {
	display: inline-block;
	position: relative;
}

#gnb > ul > li {
	float: left;
	width: 16.5%;
}

#gnb a.dep1 {
	position: relative;
	display: block;
	text-align: center;
	width: 100%;
	margin: 5px 30px;
	line-height: 65px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Malgun Gothic';
	color: #fff;
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
	z-index: 120;
}

#header:hover .dep1 {
    color: #333;
}

#gnb > ul > li:hover .dep1 {
	color: #217fc4;
	border-bottom: 2px solid #217fc4;
}

#gnb .sub {
	position: absolute;
	display: block;
	width: 140%;
	top: 70px;
	left: -150px;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #fff;
	border-radius: 0 0 40px 40px;
	transition: all 0.4s ease;
}

#gnb > ul > li:hover .sub {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

#gnb .sub > li {
	float: left;
	width: 18%;
	padding: 10px 10px;
	text-align: center;
}


.sub li a.dep2 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 10px;
    color: #333;
}

#gnb > ul > li:nth-child(1) .sub2 {
	height: 200px;
}

#gnb > ul > li:nth-child(2) .sub2 {
	height: 150px;
}

#gnb > ul > li:nth-child(3) .sub2 {
	height: 200px;
}

#gnb > ul > li:nth-child(4) .sub2 {
	height: 150px;
}

#gnb > ul > li:nth-child(5) .sub2 {
	height: 180px;
}

#gnb > ul > li:nth-child(6) .sub2 {
	height: 150px;
}

.sub2 li a {
	display: block;
	font-size: 16px;
	line-height: 1.8;
    color: #666;
}

.sub li a.dep2:hover,
.sub2 li a:hover {
	color: #217fc4;
	font-weight: bold;
}

#search {
	display: block;
	position: fixed;
	left: -110%;
	top: 0;
	background: #217fc4;
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 500;
	text-align: center;
	transition: all 0.5s ease;
}

#ck1:checked ~ #search {
	left: 0;
}

#search label.close {
	position: absolute;
	top: 20px;
	right: 30px;
	text-indent: -9999px;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../img/close_btn2.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center center;
	cursor: pointer;
}

#search h1 {
	margin-top: 80px;
}

#search p {
	margin-top: 30px;
}

#search .frm1 {
	margin-top: 50px;
}

#search .in_data {
	width: 240px;
	height: 40px;
	color: #666;
	border: 0;
	outline: 0;
	font-size: 18px;
	line-height: 40px;
    text-indent: 10px;
}

#search .frm_btn {
	width: 60px;
	height: 40px;
	background: #fff;
	color: #217fc4;
	border: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
}

#gnbMo {
	display: block;
	position: fixed;
	right: -110%;
	top: 0;
	background-color: #217fc4;
	width: 100%;
	height: 100%;
	z-index: 500;
	transition: all 0.5s ease;
	overflow-x: scroll;
}

#gnbMo label.close {
	position: absolute;
	top: 20px;
	right: 30px;
	text-indent: -9999px;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../img/close_btn2.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center center;
	cursor: pointer;
}

#gnbMo > ul {
	clear: both;
	width: 100%;
	height: auto;
	margin-top: 80px;
	border-top: 1px solid #ddd;
}

#gnbMo > ul > li > a {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background-color: #217fc4;
	color: #fff;
	border-bottom: 1px solid #ddd;
	transition: all .5s;
}

#gnbMo > ul > li > a:hover,
#gnbMo > ul > li > a:active {
	color: #fff;
	background: #666;
	border-bottom: 1px solid #217fc4;
}

#gnbMo .sub {
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}

#gnbMo > ul > li:hover .sub,
#gnbMo > ul > li:active .sub {
	height: auto;
	visibility: visible;
	opacity: 1;
}

#gnbMo .sub > li > a {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background: #fff;
	color: #217fc4;
	border-bottom: 1px solid #ddd;
	transition: all .5s ease;
}

#gnbMo .sub > li > a:hover,
#gnbMo .sub > li > a:active {
	background: #217fc4;
	color: #fff;
}

/* visual */
#visual {
	position: relative;
	width: 100%;
	height: 800px;
	transition: all 0.5s;
	background-image: url(../img/visual1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 -10px 10px 1px rgba(0, 0, 0, 0.3);
}

.v_wrap {
	width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.v_wrap h1 {
	position: absolute;
	top: 180px;
	left: 0;
	font-size: 34px;
	font-weight: bold;
	font-family: 'Nanum Myeongjo';
	letter-spacing: 3px;
	line-height: 1.8;
	color: rgba(255, 200, 52, 1);
	padding: 20px 0 0 60px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.v_wrap h1 span {
	font-size: 28px;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
}

.txtBox {
	position: absolute;
	top: 450px;
	left: 10px;
}

.txtBox h3 {
	width: 230px;
	height: 40px;
    border: 3px solid #217fc4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #217fc4;
	font-size: 18px;
	text-align: center;
	line-height: 2.2;
	color: #ffffff;
}

iframe {
	width: 450px;
	height: 253px;
    border: 3px solid #217fc4;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

/* content1 */
#content1 {
	width: 1200px;
	position: relative;
	margin: 10px auto;
}

#content1:after {
	clear: both;
	content: "";
	display: block;
}

#content1 > div {
	box-sizing: border-box;
	padding: 15px 10px 15px 10px;
	transition: all 0.5s;
}

#content1 > div > div {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

.news1,
.news2,
.news3 {
	position: relative;
	width: 33.33333%;
	height: 300px;
	float: left;
	margin-top: 20px;
}

.news1 div,
.news2 div,
.news3 div {
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
	background-color: #ddd;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.news1 div {
	background-image: url(../img/news1.jpg);
}

.news2 div {
	background-image: url(../img/news2.jpg);
}

.news3 div {
	background-image: url(../img/news3.jpg);
}

.news1 div div,
.news2 div div,
.news3 div div {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(229, 229, 229, 0) 40%);
}

.news1 div > h3,
.news2 div > h3,
.news3 div > h3 {
	color: #fff;
	display: block;
	font-weight: 600;
	font-size: 20px;
	line-height: 2.5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px 20px;
}

.news1 div > p,
.news2 div > p,
.news3 div > p {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 0 20px;
}

.news1 div > a,
.news2 div > a,
.news3 div > a {
	display: block;
	position: absolute;
	top: 120px;
	left: 30px;
	width: 100px;
	height: 40px;
	font-size: 14px;
	text-indent: 20px;
	line-height: 40px;
	background-color: rgba(78, 78, 78, 0.8);
	color: #fff;
	border-radius: 30px;
	transition: all 0.5s;
	transform: translateX(0);
}

.news1 div > a > img,
.news2 div > a > img,
.news3 div > a > img {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	transform: translateY(50%);
}

.news1 div > a:hover,
.news2 div > a:hover,
.news3 div > a:hover {
	background-color: #217fc4;
	transform: translateX(20px);
}

.news1 div:hover,
.news2 div:hover,
.news3 div:hover {
	background-size: auto 110%;
}

/* notice 공지사항*/
.notice {
	width: 50%;
	height: 320px;
	float: left;
}

.notice > div {
	padding: 12px 15px 15px 20px;
}

.notice > div > h3 {
	font-size: 22px;
	text-align: center;
	padding-bottom: 12px;
	color: #333;
}

.notice > div > ul {
	border-top: 1px solid #cecece;
}

.notice > div > ul li {
	font-size: 16px;
	width: 100%;
	height: 55px;
	line-height: 55px;
}

.notice > div > ul li a:before {
	content: "·";
	display: inline-block;
	font-weight: bold;
	padding: 0 10px;
}

.notice > div > ul li a {
	float: left;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #2f2f2f;
}

.notice > div > ul li span {
	float: right;
	width: 15%;
	color: #939393;
}

.notice > div > ul li a:hover,
.notice > div > ul li a:active {
	font-weight: bold;
	color: #217fc4;
}

/*magazine*/
.magazine {
	width: 25%;
	height: 320px;
	float: left;
}

.magazine > div {
	padding: 12px 10px 15px 10px;
}

.magazine > div > h3 {
	float: left;
	font-size: 22px;
	text-indent: 15px;
	text-align: center;
	padding-bottom: 12px;
	color: #333;
}

.magazine > div > p {
	display: inline-block;
	font-size: 16px;
	padding: 10px 0 0 10px;
}

.magazine > div > a {
	display: block;
	width: 100%;
	height: 230px;
	text-align: center;
	margin-top: 10px;
	background: #fcc;
	border-top: 1px solid #cecece;
}

.magazine > div > a > img {
	width: 170px;
	height: 210px;
	margin-top: 10px;
}

.magazine > div > a:hover > img {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.magazine > div > a:hover {
	background: #fbb;
}

/*info*/
.info {
	width: 25%;
	height: 320px;
	float: left;
	position: relative;
}

.info > div {
	padding: 12px 10px 15px 10px;
}

.info > div > h3 {
	font-size: 22px;
	text-align: center;
	padding-bottom: 12px;
	color: #333;
	border-bottom: 1px solid #cecece;
}

.info > div > a {
	display: block;
	width: 100%;
	height: 230px;
	background: #bf9;
}

.info > div > a > p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
	padding: 10px 0 20px 0;
}

.info > div > a > span {
	font-size: 16px;
	line-height: 1.5;
}

.info > div > a > span.txt {
	font-weight: bold;
	padding-left: 15px;
	color: #35a335;
}

.info > div > a > span.date {
	padding-left: 10px;
	color: #35a335;
}

.info > div > a > img {
	width: 120px;
	height: auto;
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.info > div > a:hover {
	background: #af7;
}

/*service*/
.service {
	width: 100%;
	height: 480px;
	background: #217fc4;
	margin: 30px auto;
	box-sizing: border-box;
	overflow: hidden;
}

.ser_wrap {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}

/*ser_box1*/
.ser_box1 {
	width: 930px;
	height: 180px;
}

.ser_box1 ul {
	overflow: hidden;
}

.ser_box1 ul li {
	float: left;
	width: 18.7%;
	height: 180px;
	border: 1px solid rgba(96, 188, 255, 0.5);
	box-sizing: border-box;
	margin-right: 10px;
}

.ser_box1 ul li a {
	display: block;
	height: 100%;
	transition: all 0.5s ease;
}

.ser_box1 ul li a img {
	display: block;
	width: 120px;
	height: 90px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	filter: brightness(0.6);
	transition: all 0.5s ease;
}

.ser_box1 ul li a h3 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #d0d0d0;
	transition: all 0.5s ease;
}

.ser_box1 ul li a:hover,
.ser_box1 ul li a:active {
	color: #ffffff;
	background: #1587db;
}

.ser_box1 ul li a:hover img,
.ser_box1 ul li a:active img {
	filter: brightness(1.2);
}

.ser_box1 ul li a:hover h3 {
	transform: scale(1.05);
}

/*ser_box2*/
.ser_box2 {
	width: 920px;
	height: 230px;
	margin-top: 10px;
	overflow: hidden;
}

.ser_box2 ul {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.ser_box2 ul li {
	float: left;
	width: 32.2%;
	height: 230px;
	text-align: center;
	border: 1px solid rgba(96, 188, 255, 0.5);
	box-sizing: border-box;
	margin-right: 10px;
}

.ser_box2 ul li a {
	display: block;
	height: 100%;
	font-weight: bold;
	color: #d0d0d0;
	transition: all 0.5s ease;
}

.ser_box2 ul li a h3 {
	padding-top: 30px;
	font-size: 17px;
	transition: all 0.5s ease;
}

.ser_box2 ul li a p {
	padding-top: 10px;
	font-size: 15px;
	line-height: 1.5;
	transition: all 0.5s ease;
}

.ser_box2 ul li a img {
	display: block;
	width: 120px;
	height: 90px;
	margin: 0 auto;
	padding: 10px;
	filter: brightness(0.6);
	transition: all 0.5s ease;
}

.ser_box2 ul li a:hover,
.ser_box2 ul li a:active {
	color: #ffffff;
	background: #1587db;
}

.ser_box2 ul li a:hover h3,
.ser_box2 ul li a:hover p {
	transform: scale(1.05);
}

.ser_box2 ul li a:hover img,
.ser_box2 ul li a:active img {
	filter: brightness(1.2);
}

/*ser_box3*/
.ser_box3 {
	position: absolute;
	top: 0;
	right: 10px;
	width: 270px;
	height: 420px;
	padding: 30px 0;
}

.ser_box3 a {
	display: block;
	height: 100%;
	border: 1px solid rgba(96, 188, 255, 0.5);
	padding: 55px 0;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.5s ease;
	background: #0667af;
}

.ser_box3 a h3 {
	color: #d0d0d0;
	font-size: 22px;
	transition: all 0.5s ease;
}

.ser_box3 a p {
	padding: 30px;
	color: #d0d0d0;
	font-size: 14px;
	transition: all 0.5s ease;
}

.ser_box3 a ul {
	width: 100%;
}

.ser_box3 a ul li {
	color: #d0d0d0;
	font-size: 16px;
	line-height: 3;
	transition: all 0.5s ease;
}

.ser_box3 a ul li:before {
	content: "";
	display: block;
	width: 160px;
	height: 1px;
	background: #c6c6c6;
	margin: 0 auto;
}

.ser_box3 a:hover {
	background: #1587db;
}

.ser_box3 a:hover h3,
.ser_box3 a:active h3 {
	color: #fff;
}

.ser_box3 a:hover p,
.ser_box3 a:active p {
	color: #fff;
}

.ser_box3 a ul li:hover,
.ser_box3 a ul li:active {
	color: #fff;
	transform: scale(1.05);
}

/*content2*/
#content2 {
	clear: both;
	position: relative;
	width: 100%;
	height: 460px;
}

.con2 {
	width: 1200px;
	margin: 0 auto;
	height: 350px;
	display: block;
	border-top: 2px solid #217fc4;
}

.con2 h2 {
	font-size: 30px;
	color: #217fc4;
	text-align: center;
	line-height: 80px;
}

.con2 .listWrap {
	width: 290px;
	height: 200px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
}

.con2 .listWrap:last-of-type {
	margin-right: 0;
}

.listWrap .list {
	width: 270px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	margin: 0 auto;
	cursor: pointer;
}

.list1 {
	background-image: url(../img/con21.png);
}

.list2 {
	background-image: url(../img/con22.png);
}

.list3 {
	background-image: url(../img/con23.png);
}

.listWrap .list:hover {
	background-size: 110% 110%;
}

.listWrap .list_tit {
	width: 280px;
	height: 280px;
	font-size: 23px;
	font-weight: bold;	
	color: #217fc4;
	line-height: 2.2;
	padding-top: 50px;
}

.listWrap .list_tit span {
	font-size: 19px;
    font-family: 'Nanum Myeongjo';
	color: #797979;
}

.listWrap .tit {
	font-size: 20px;
    font-weight: bold;
	color: #217fc4;
	line-height: 2;
	margin-top: 20px;
}

.listWrap p {
	font-size: 16px;
    font-weight: bold;
    font-family: 'Nanum Myeongjo';
	letter-spacing: -0.8px;
	line-height: 1.8;
	margin-top: 8px;
}

/*banner*/
.banner {
	clear: both;
	width: 1200px;
	height: 100px;
	position: relative;
	margin: 30px auto;
}

.banner ul {
	width: 1200px;
	overflow: hidden;
	padding: 15px 0 15px 0;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.banner ul li {
	float: left;
	width: 19.85%;
	height: 60px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
}

.banner ul li:last-child {
	border-right: 0;
}

.banner ul li a {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

.banner ul li a img {
	width: 220px;
	height: auto;
}

/* 푸터영역 */
#footer {
	width: 100%;
	height: auto;
	background: #1f212a;
}

.sitemap {
	position: relative;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #333;
}

.sitemap ul {
	width: 1200px;
	padding-top: 10px;
	margin: 0 auto;
}

.sitemap ul li {
	float: left;
	padding: 10px 20px 10px 20px;
	line-height: 30px;
}

.sitemap ul li a {
	font-size: 15px;
	font-weight: bold;
	color: #a8afb5;
}

.sitemap ul li:first-child a {
	color: #e6c01c;
}

.copyright {
	width: 1200px;
	height: 140px;
	margin: 0 auto;
	position: relative;
}

.copyright h2 {
	position: absolute;
	left: 0;
	top: 50px;
}

.copyright address {
	position: absolute;
	left: 240px;
	top: 20px;
	color: #888;
	width: 600px;
	font-size: 14px;
	font-style: normal;
	line-height: 2;
}

.copyright address a {
	font-size: 18px;
	color: #e6c01c;
}

.copyright .sns {
	position: absolute;
	top: 30px;
	right: 210px;
}

.copyright .sns li {
	float: left;
	margin-right: 10px;
}

.copyright .sns li a {
	display: block;
	width: 40px;
	height: 40px;
	background-size: contain;
	transition: all .5s;
	filter: brightness(.7);
}

.copyright .sns li:nth-child(1) a {
	background-image: url(../img/sns1.png);
}

.copyright .sns li:nth-child(2) a {
	background-image: url(../img/sns2.png);
}

.copyright .sns li:nth-child(3) a {
	background-image: url(../img/sns3.png);
}

.copyright .sns li:nth-child(4) a {
	background-image: url(../img/sns4.png);
}

.copyright .sns li:nth-child(5) a {
	background-image: url(../img/sns5.png);
}

.copyright .sns li a:hover {
	filter: brightness(1);
}

.copyright .sns li:nth-child(1) a:hover {
	background-image: url(../img/sns11.png);
}

.copyright .sns li:nth-child(2) a:hover {
	background-image: url(../img/sns22.png);
}

.copyright .sns li:nth-child(3) a:hover {
	background-image: url(../img/sns33.png);
}

.copyright .sns li:nth-child(4) a:hover {
	background-image: url(../img/sns44.png);
}

.copyright .sns li:nth-child(5) a:hover {
	background-image: url(../img/sns55.png);
}

.copyright select {
	position: absolute;
	right: 0;
	top: 30px;
	width: 200px;
	height: 40px;
	background: transparent;
	color: #eee;
	font-size: 14px;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
}

.copyright select option {
	background-color: #eee;
	color: #333;
}


/*태블릿버전*/
@media screen and (min-width:640px) and (max-width:1199px) {

	/* header */
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 70px;
		background: #fff;
	}

	.top_btn {
		display: none;
	}

	.logo {
		position: absolute;
		top: 13px;
		left: 35px;
	}
	
	.logo a {
		width: 120px;
      height: 45px;
		background-image: url(../img/logo.png);
	}

	#gnb {
		display: none;
	}

	.search_btn {
		top: 17px;
		right: 85px;
		background-size: 35px;
		background-image: url(../img/search.png);
	}

	.toggle_btn {
		top: 17px;
		right: 35px;
		background-size: 35px;
		background-image: url(../img/menu.png);
	}

	/* visual */
	#visual {
		position: relative;
		width: 100%;
		height: 500px;
	}

	.v_wrap {
		width: 100%;
		height: 500px;
	}

	.v_wrap h1 {
		top: 100px;
		font-size: 26px;
		line-height: 38px;
	}

	.v_wrap h1 span {
		font-size: 22px;
	}

	.txtBox {
		top: 250px;
		left: 3%;
	}

	.txtBox h3 {
		width: 180px;
		height: 30px;
        border: 2px solid #217fc4;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		font-size: 14px;
		line-height: 2;
	}

	iframe {
		width: 340px;
		height: 191px;
        border: 2px solid #217fc4;
	}

	/* content1 */
	#content1 {
		clear: both;
		width: 96%;
	}

	#content1 > div {
		padding: 0 5px 20px 5px;
	}

	.news1,
	.news2,
	.news3 {
		width: 33.33333%;
		height: 270px;
		margin-top: 10px;
	}

	.news1 div,
	.news2 div,
	.news3 div {
		background-size: auto 100%;
	}

	.news1 div > h3,
	.news2 div > h3,
	.news3 div > h3 {
		font-size: 18px;
		padding: 5px 20px;
	}

	.news1 div > p,
	.news2 div > p,
	.news3 div > p {
		padding: 0 20px;
	}

	.news1 div > a,
	.news2 div > a,
	.news3 div > a {
		top: 100px;
		width: 90px;
		height: 35px;
		text-indent: 15px;
		line-height: 35px;
	}

	.news1 div > a > img,
	.news2 div > a > img,
	.news3 div > a > img {
		top: 3px;
		right: 5px;
		width: 15px;
		height: 15px;
	}

	/* notice 공지사항*/
	.notice {
		clear: both;
		float: none;
		width: 100%;
		height: 260px;
	}

	.notice > div > ul li {
		font-size: 16px;
		height: 42px;
		line-height: 42px;
	}

	/*magazine*/
	.magazine {
		width: 50%;
		height: 320px;
	}

	/*info*/
	.info {
		width: 50%;
		height: 320px;
	}

	.info > div > a > span {
		font-size: 16px;
		line-height: 2;
		margin-top: 20px;
	}

	.info > div > a > span.txt {
		font-weight: bold;
		padding-left: 50px;
	}

	.info > div > a > span.date {
		padding-left: 10px;
	}

	.info > div > a > img {
		width: 140px;
		padding-right: 20px;
	}

	/*service*/
	.service {
		width: 100%;
		height: 610px;
		margin: 30px auto;		
	}

	.ser_wrap {
		width: 95%;
		padding: 40px 0;
	}

	/*ser_box1*/
	.ser_box1 {
		width: 100%;
		height: 160px;
	}

	.ser_box1 ul {
		display: flex;
		justify-content: space-between;
	}

	.ser_box1 ul li {
		float: left;
		width: 19%;
		height: 160px;
		margin-right: 0;
	}

	.ser_box1 ul li a img {
		display: block;
		width: 100px;
		height: 70px;
		padding: 10px auto 10px;
	}
	
	.ser_box1 ul li a h3 {
	font-size: 15px;
}

	/*ser_box2*/
	.ser_box2 {
		width: 100%;
		height: 180px;
	}

	.ser_box2 ul {
		display: flex;
		justify-content: space-between;
	}

	.ser_box2 ul li {
		float: left;
		width: 32.4%;
		height: 180px;
		margin-right: 0;
	}

	.ser_box2 ul li a {
		padding: 20px 0;
	}
	
	.ser_box2 ul li a h3 {
	padding-top: 0;
	font-size: 16px;
}
	
	.ser_box2 ul li a p {
	padding-top: 10px;
	font-size: 14px;
    line-height: 1.4;
}

	.ser_box2 ul li a img {
		width: 100px;
		height: 70px;
		padding: 5px auto 0;
	}

	/*ser_box3*/
	.ser_box3 {
		position: absolute;
		top: 370px;
		right: 0;
		width: 100%;
		height: 170px;
		overflow: hidden;
	}

	.ser_box3 a {
		display: block;
		height: 100%;
		padding: 20px 0;
	}

	.ser_box3 a h3 {
		font-size: 18px;
	}

	.ser_box3 a p {
		padding: 10px;
		font-size: 14px;
	}

	.ser_box3 a ul li {
		float: left;
		width: 25%;
		font-size: 14px;
		line-height: 3.5;
	}

	.ser_box3 a ul li:before {
		content: "";
		display: block;
		width: 1px;
		height: 10px;
		position: absolute;
		background: #c6c6c6;
		margin: 20px 0;
	}

	.ser_box3 a ul li:first-child:before {
		display: none;
	}

	/*content2*/
	#content2 {
		width: 95%;
		height: 580px;
		margin: 0 auto;
		margin-top: 50px;
	}

	.con2 {
		width: 100%;
		height: 100%;
	}

	.con2 h2 {
		font-size: 24px;
		line-height: 80px;
	}

	.con2 h2:after {
		content: "";
		display: block;
		width: 1px;
		height: 30px;
		background: #217fc4;
		margin: 10px auto;
	}

	.con2 .listWrap {
		margin-right: 0;
		margin-top: 0;
	}

	.con2 .listWrap:first-of-type {
		width: 100%;
		height: 180px;
	}

	.con2 .listWrap:nth-of-type(2),
	.con2 .listWrap:nth-of-type(3),
	.con2 .listWrap:nth-of-type(4) {
		float: left;
		width: 31%;
		height: 200px;
		padding: 0 1%;

	}

	.listWrap .list {
		width: 100%;
		height: 200px;
	}

	.listWrap .list_tit {
		width: 280px;
		height: 160px;
		font-size: 22px;
		color: #217fc4;
		line-height: 1.5;
		padding-top: 10px;
		margin: 0 auto;
	}

	.listWrap .tit {
		display: block;
		width: 100%;
		font-size: 17px;
		margin-top: 10px;
	}

	.listWrap p {
		display: none;
	}

	/*banner*/
	.banner {
		clear: both;
		width: 95%;
		height: 70px;
		margin: 20px auto;
	}

	.banner ul {
		width: 100%;
		padding: 15px 0 15px 0;
	}

	.banner ul li {
		width: 25%;
		height: 40px;
	}

	.banner ul li:nth-child(5) {
		display: none;
	}

	.banner ul li:nth-child(4),
	.banner ul li:nth-child(5) {
		border-right: 0;
	}

	.banner ul li a img {
		width: 180px;
		height: auto;
	}

	/* 푸터영역 */
	#footer {
		width: 100%;
		height: 200px;
	}

	.sitemap {
		width: 100%;
		height: 60px;
	}

	.sitemap ul {
		width: 95%;
		padding-top: 5px;
		margin: 0 auto;
	}

	.sitemap ul li a {
		font-size: 12px;
	}

	.copyright {
		width: 100%;
	}

	.copyright h2 {
		position: absolute;
		left: 20px;
	}

	.copyright h2 img {
		width: 110px;
		height: auto;
	}

	.copyright address {
		position: absolute;
		left: 150px;
		top: 20px;
		width: 450px;
		font-size: 12px;
	}

	.copyright .sns {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.copyright .sns li a {
		width: 35px;
		height: 35px;
	}

	.copyright select {
		position: absolute;
		right: 30px;
		top: 75px;
		width: 170px;
		height: 35px;
		padding-left: 5px;
	}

}

/*모바일버전*/
@media screen and (max-width:639px) {

	/* header */
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 60px;
		background: #fff;
	}

	.top_btn {
		display: none;
	}

	.logo {
		position: absolute;
		top: 10px;
		left: 20px;
		text-align: center;
	}

	.logo a {
		width: 110px;
      height: 40px;
		background-image: url(../img/logo.png);
	}

	#gnb {
		display: none;
	}

	.search_btn {
		top: 15px;
		right: 60px;
		background-size: 30px;
		background-image: url(../img/search.png);
	}

	.toggle_btn {
		top: 15px;
		right: 15px;
		background-size: 30px;
		background-image: url(../img/menu.png);
	}

	/* visual */
	#visual {
		position: relative;
		width: 100%;
		height: 400px;
	}

	.v_wrap {
		width: 100%;
		height: 100%;
	}

	.v_wrap h1 {
		top: 80px;
		font-size: 22px;
		line-height: 1.5;
		letter-spacing: 2px;
		padding: 10px 0 0 30px;
	}

	.v_wrap h1 span {
		font-size: 18px;
	}

	.txtBox {
		top: 195px;
		left: 5%;

	}

	.txtBox h3 {
		width: 160px;
		height: 25px;
        border: 2px solid #217fc4;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		font-size: 13px;
		line-height: 2;
	}

	iframe {
		width: 280px;
		height: 157px;
        border: 2px solid #217fc4;
	}

	/* content1 */
	#content1 {
		clear: both;
		width: 90%;
		margin: 10px auto;
	}

	#content1 > div {
		padding: 10px 0 10px 0;
	}

	.news1,
	.news2,
	.news3 {
		width: 100%;
		height: 250px;
		margin-top: 0;
	}

	.news1 div > h3,
	.news2 div > h3,
	.news3 div > h3 {
		font-size: 16px;
	}

	.news1 div > p,
	.news2 div > p,
	.news3 div > p {
		font-size: 14px;
	}

	/* notice 공지사항*/
	.notice {
		clear: both;
		float: none;
		width: 100%;
		height: 260px;
	}

	.notice > div > h3 {
		font-size: 18px;
		text-align: center;
		padding-bottom: 10px;
		color: #333;
	}

	.notice > div > ul li {
		font-size: 15px;
		width: 100%;
		height: 45px;
		line-height: 45px;
	}

	.notice > div > ul li a:before {
		padding: 0 8px;
	}

	.notice > div > ul li a {
		width: 100%;
	}

	.notice > div > ul li span {
		display: none;
	}

	/*magazine*/
	.magazine {
		width: 100%;
		height: 260px;
	}

	.magazine > div > h3 {
		font-size: 18px;
		padding-bottom: 10px;
	}

	.magazine > div > p {
		font-size: 14px;
		padding: 15px 0 0 15px;
	}

	.magazine > div > a {
		display: block;
		width: 100%;
		height: 180px;
		text-align: center;
		margin-top: 5px;
		background: #edd;
		border-top: 1px solid #cecece;
	}

	.magazine > div > a > img {
		width: 130px;
		height: 160px;
		margin-top: 10px;
		text-align: center;
	}

	/*info*/
	.info {
		float: right;
		width: 100%;
		height: 260px;
	}

	.info > div > h3 {
		font-size: 18px;
		padding-bottom: 10px;
	}

	.info > div > a {
		display: block;
		width: 100%;
		height: 185px;
		background: #cfc;
	}

	.info > div > a > img {
		width: 100px;
		height: auto;
		position: absolute;
		right: 30px;
	}

	/*service*/
	.service {
		width: 100%;
		height: 630px;
		margin: 10px auto;		
	}

	.ser_wrap {
		position: relative;
		width: 90%;
		padding: 20px 0;
	}

	/*ser_box1*/
	.ser_box1 {
		width: 100%;
		height: 300px;
	}

	.ser_box1 ul {
		display: flex;
		flex-flow: row wrap;
	}

	.ser_box1 ul li {
		float: left;
		height: 140px;
		margin-right: 0;
	}

	.ser_box1 ul li:nth-child(1),
	.ser_box1 ul li:nth-child(2),
	.ser_box1 ul li:nth-child(3) {
		width: 32%;
	}

	.ser_box1 ul li:nth-child(4),
	.ser_box1 ul li:nth-child(5) {
		width: 49%;
		margin-top: 10px;
	}

	.ser_box1 ul li:nth-child(1),
	.ser_box1 ul li:nth-child(2),
	.ser_box1 ul li:nth-child(4) {
		margin-right: 2%;
	}

	.ser_box1 ul li a h3 {
		font-size: 14px;
	}

	.ser_box1 ul li a img {
		display: block;
		width: 80px;
		height: 60px;
		padding: 5px auto 0;
	}

	/*ser_box2*/
	.ser_box2 {
		width: 100%;
		height: 140px;
		margin-top: 0px;
	}

	.ser_box2 ul {
		display: flex;
		justify-content: space-between;
	}

	.ser_box2 ul li {
		float: left;
		width: 32%;
		height: 140px;
		margin-right: 0;
	}

	.ser_box2 ul li a h3{
		font-size: 14px;
		padding: 15px 0;
	}

	.ser_box2 ul li a p {
		display: none;
	}

	.ser_box2 ul li a img {
		width: 80px;
		height: 60px;
		padding: 15px auto 0;
	}

	/*ser_box3*/
	.ser_box3 {
		position: absolute;
		top: 440px;
		right: 0;
		width: 100%;
		height: 140px;
	}

	.ser_box3 a {
		display: block;
		height: 100%;
		padding: 20px 0;
	}

	.ser_box3 a h3 {
		font-size: 15px;
	}

	.ser_box3 a p {
		display: none;
	}
	
	.ser_box3 a ul {
		padding-top: 15px;
	}

	.ser_box3 a ul li {
		float: left;
		width: 50%;
		font-size: 12px;
		line-height: 2.2;
	}

	.ser_box3 a ul li:before {
		content: "";
		display: block;
		width: 1px;
		height: 10px;
		position: absolute;
		background: #c6c6c6;
		margin: 10px 0;
	}

	.ser_box3 a ul li:nth-child(1):before,
	.ser_box3 a ul li:nth-child(3):before {
		display: none;
	}

	/*content2*/
	#content2 {
		width: 100%;
		height: 520px;
		margin: 0 auto;
		margin-top: 20px;
	}

	.con2 {
		width: 90%;
		height: 100%;
	}

	.con2 h2 {
		font-size: 20px;
		line-height: 50px;
	}

	.con2 h2:after {
		content: "";
		display: block;
		width: 1px;
		height: 20px;
		background: #217fc4;
		margin: 10px auto;
	}

	.con2 .listWrap {
		width: 50%;
		height: 190px;
		margin-right: 0;
		margin-top: 10px;
	}

	.listWrap .list {
		width: 90%;
		height: 140px;
	}

	.listWrap .list_tit {
		width: 90%;
		height: 140px;
		font-size: 14px;
		line-height: 2;
		padding-top: 10px;
	}

	.listWrap .list_tit span {
		font-size: 12px;
	}

	.listWrap .tit {
		font-size: 14px;
		margin-top: 5px;
	}

	.listWrap p {
		display: none;
	}

	/*banner*/
	.banner {
		display: none;
	}

	/* 푸터영역 */
	#footer {
		width: 100%;
		height: auto;
		padding-bottom: 20px;
	}

	.sitemap {
		display: none;
	}

	.copyright {
		width: 90%;
		height: 180px;
	}

	.copyright h2 {
		display: none;
	}

	.copyright address {
		position: absolute;
		left: 10px;
		top: 60px;
		width: 100%;
		font-size: 12px;
		line-height: 1.8;
	}

	.copyright address a {
		font-size: 16px;
	}

	.copyright .sns {
		width: 100%;
		top: 140px;
		left: 10px;
	}

	.copyright .sns li {
		float: left;
		margin-right: 10px;
	}

	.copyright .sns li a {
		display: block;
		width: 35px;
		height: 35px;
	}

	.copyright select {
		position: absolute;
		right: 10px;
		top: 15px;
		width: 140px;
		height: 30px;
        font-size: 12px;
		padding-left: 10px;
	}

}
